<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='ricercaincollezione(); return false;' class="button">Ricerca nella collezione di Poleni</button>
<button  onClick='remove2(); return false;' class="button">Ricarica</button>
<select id="pagine">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<input id="ricercaoggetto" class="ricercaoggetto" name="ricercaoggetto" type="text" />
<script>
function ricercaincollezione() {
var oggetto= $('#ricercaoggetto').val();	
var pagine= $('#pagine').val();	
$(document).ready(function(){
var url = "https://imageserver.cab.unipd.it:8983/solr/phaidradev/select?&fq=ispartof:%22o:74181%22&q="+oggetto+"&rows="+pagine+"&wt=json";
$.getJSON(url, function(data){
console.log(data.response.docs);
$.each(data.response.docs, function(a,campo){
console.log(campo.pid);
console.log(campo.dc_title);
console.log(campo.dc_description);
$("#prova").append(campo.dc_title+"<br></br>");
$("#prova").append(campo.dc_description+"<br></br>");
$("#prova").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Asset/getThumbnail"></a></img><br></br>'); 
});
});
});	  	  
}
function remove2(){
$(document).ready(function(){
$("button").click(function(){
$("#prova").empty();
});
});
};
</script>
<div id="prova"></div>


