<h2>Approfondimenti:</h2>
<div id="accordion" class="panel-group">
<div class="panel panel-default">
<div id="headingOne" class="panel-heading">
<h4 class="panel-title"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"><img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" /></a>Antonio Vallisneri e le Antichità</h4>
<div id="collapseOne" class="panel-collapse collapse">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
var url = "https://phaidra.cab.unipd.it/api/collection/o:74177/members";
$.getJSON(url, function(response){
console.log(response.metadata.members);
$.each(response.metadata.members, function(a,campo2){	  
var url2 = "https://phaidra.cab.unipd.it/api/object/"+campo2.pid+"/index";
$.getJSON(url2, function(response2){
$.each(response2, function(a,campo){
$(".dc").append(campo.dc_title);
$(".dc").append("<br>");
$(".dc").append(campo.dc_description);
});
$(".dc").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campo2.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campo2.pid+'/methods/bdef:Asset/getThumbnail"></a>');
$(".dc").append("<br>");
$(".dc").append("<br>");
});
});
});
});
</script>
<div class="dc"></div>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="headingTwo" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
<img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" />Cerca nel museo</a></h4>
<div id="collapseTwo" class="panel-collapse collapse">
<input id="ricercamuseo" class="ricercamuseo" name="ricercamuseo" type="text" />
<button  onClick='ricercainmuseo(); return false;' class="button">Cerca nel museo</button>
<button  onClick='remove(); return false;' class="button">Ricarica</button>
<select id="oggetti">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<script>
function ricercainmuseo() {
var testo2= $('#ricercamuseo').val();
var oggetti=$('#oggetti').val();
$(document).ready(function(){
var urlx = "https://phaidra.cab.unipd.it/api/search/owner/msaa?q="+testo2+"&limit="+oggetti+""
$.getJSON(urlx, function(responsex){
console.log(responsex.objects);
$.each(responsex.objects, function(ax,campox){
console.log("<i>"+campox['fgs.contentModel']+"</i>");
$(".dcx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
$(".dcx").append(campox['uw.general.description']);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datal) {
console.log(datal.index.pid)										 										
$(".dcx").append(datal.index.pid+"<br></br>");
$(".dcx").append(datal.index.dc_description+"<br></br>");
$(".dcx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+datal.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+datal.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
}
});
});
}
});
});
});
});
};
function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#dcx").empty();
});
});
};
</script>
<div class="dcx"></div>
</div>
</div>
</div>