function ricercainmuseo() {
	var testo2= $('#ricercamuseo').val();
    var testo3=	$('#scelta').val();	
	$(document).ready(function(){
	  var urlx = "https://phaidra.cab.unipd.it/api/search/owner/"+testo3+"?q="+testo2+""
	      $.getJSON(urlx, function(responsex){
		  console.log(responsex.objects);
		  $.each(responsex.objects, function(ax,campox){
		  console.log("<strong>"+campox['PID']+"</strong>"+"<hr></hr>");
		  console.log("<it>"+campox['uw.general.description']+"</it>");
		  
		 var myDatax = '';		 
         myDatax+=campox['PID'];
		 myDatax+=campox['uw.general.description'];	
		 myDatax+='<div><a href="https://fc.cab.unipd.it/fedora/get/'+campox['PID']+'/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail"></img></a>'
	     console.log(myDatax);
		  
		  
		  
		  
		  $("#dc").append(myDatax);
	
		 
		  
		 
         });
		 });
		 });
		 }

 function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dc").empty();
    });
	});
	};