<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input type='text' class="ricercamuseo" name='ricercamuseo' id='ricercamuseo'/>



<select id="scelta">
<option value="bibfa">Biblioteca fisica e astronomia</option>
<option value="vallisneri">Vallisneri</option>
</select>



<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>



<script>
function ricercainmuseo() {
	var testo2= $('#ricercamuseo').val();
    var testo3=	$('#scelta').val();	
	$(document).ready(function(){
	  var urlx = "https://phaidra.cab.unipd.it/api/search/owner/"+testo3+"?q="+testo2+""
	      $.getJSON(urlx, function(responsex){
		  console.log(responsex.objects);
		  $.each(responsex.objects, function(ax,campox){
		  console.log("<strong>"+campox['fgs.contentModel']+"</strong>"+"<hr></hr>");
		 // console.log("<it>"+campox['uw.general.description']+"</it>");
		   
		 
		 
		 
		 
		 
		 
		 
		 
		 
		 


		 
		 var myDatax = '';		 
         myDatax+=campox['PID'];
		 myDatax+=campox['uw.general.description'];	
		 myDatax+='<div><img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail">'
	     console.log(myDatax);
		  
		  	  
		  
		  
		  $("#dcx").append(myDatax);
	
		 
		  
		 
         });
		 });
		 });
		 }
</script>
<div id="dcx"></div>