<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input id="ricercamuseo" class="ricercamuseo" name="ricercamuseo" type="text" />
<button  onClick='ricercainmuseo(); return false;' class="button">Cerca nel museo di fisica</button>
<button  onClick='remove(); return false;' class="button">Ricarica</button>
<select id="oggetti">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<script>
function ricercainmuseo() {
var testo2= $('#ricercamuseo').val();
var oggetti=$('#oggetti').val();
$(document).ready(function(){
var urlx = "https://phaidra.cab.unipd.it/api/search/owner/bibfa?q="+testo2+"&limit="+oggetti+"";
$.getJSON(urlx, function(responsex){
console.log(responsex.objects);
$.each(responsex.objects, function(ax,campox){
console.log("<i>"+campox['fgs.contentModel']+"</i>");
$(".dcx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campox["PID"]+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campox["PID"]+'/methods/bdef:Asset/getThumbnail"></a></img><br></br>');
$(".dcx").append(campox['uw.general.description']+'<br></br>');
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datal) {
console.log(datal.index.pid)										 										
$(".dcx").append(datal.index.pid+"<br></br>");
$(".dcx").append(datal.index.dc_description+"<br></br>");
$(".dcx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+datal.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+datal.index.pid+'/methods/bdef:Asset/getThumbnail"></a></img><br></br>');
}
});
});
}
});
});
});
});
};
function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#dcx").empty();
});
});
};
</script>
<div class="dcx"></div>