<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
var url = "https://phaidra.cab.unipd.it/api/collection/o:328466/members";
$.getJSON(url, function(response){
console.log(response.metadata.members);
$.each(response.metadata.members, function(a,campo2){	  
var url2 = "https://phaidra.cab.unipd.it/api/collection/"+campo2.pid+"/members";
$.getJSON(url2, function(response2){
$.each(response2.metadata.members, function(b,campo3){
var url3 = "https://phaidra.cab.unipd.it/api/object/"+campo3.pid+"/index";
$.getJSON(url3, function(response3){
$.each(response3, function(l,campol){
$(".dc").append(campol.pid);
$(".dc").append("<br>");
$(".dc").append(campol.dc_title);
$(".dc").append("<br>");
$(".dc").append(campol.dc_description);
$(".dc").append("<br>");
$(".dc").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campol.pid+'/methods/bdef:Asset/getThumbnail">');
$(".dc").append("<br>");
$(".dc").append("<br>");
});
});
});
});
});
});
});
</script>
<div class="dc"></div>