<h2>Approfondimenti:</h2>
<div id="accordion" class="panel-group">
<div class="panel panel-default">
<div id="headingOne" class="panel-heading">
<h4 class="panel-title"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"><img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" />Tavole parietali del Museo Botanico</a></h4>
<div id="collapseOne" class="panel-collapse collapse"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
var url = "https://phaidra.cab.unipd.it/api/collection/o:62504/members";
$.getJSON(url, function(response){
console.log(response.metadata.members);
$.each(response.metadata.members, function(a,campo2){	  
var url2 = "https://phaidra.cab.unipd.it/api/object/"+campo2.pid+"/index";
$.getJSON(url2, function(response2){
$.each(response2, function(a,campo){
$(".dc").append(campo.dc_title);
$(".dc").append("<br>");
$(".dc").append(campo.dc_description);
});
$(".dc").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo2.pid+'/methods/bdef:Asset/getThumbnail">');
$(".dc").append("<br>");
$(".dc").append("<br>");
});
});
});
});
</script>
<div class="dc"></div>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="headingTwo" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
<img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" />Cerca nel museo</a></h4>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<input id="ricercamuseo" class="ricercamuseo" name="ricercamuseo" type="text" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<button class="button">Ricerca</button>
<button class="button">Refresh</button>
<script>
function ricercainmuseo() {
var testo2= $('#ricercamuseo').val();
$(document).ready(function(){
var urlx = "https://phaidra.cab.unipd.it/api/search/owner/museo.botanico?q="+testo2+""
$.getJSON(urlx, function(responsex){
console.log(responsex.objects);
$.each(responsex.objects, function(ax,campox){
console.log("<i>"+campox['fgs.contentModel']+"</i>");
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid)
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datal) {
console.log(datal.index.dc_title);										 										 
}
});								     
});
}
});
var myDatax = '';		         
myDatax+=campox['PID']+"<br>";
myDatax+='<img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail"><br>';
myDatax+=campox['uw.general.description']+"<br>";
$("#dcx").append(myDatax);
});
});
});
}
function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#dcx").empty();
});
});
}; 
</script>
<div id="dcx"></div>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="headingThree" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
<img class="alignnone size-full wp-image-667" src="http://muvere.flywheelsites.com/wp-content/uploads/2017/08/phaidra-logo-small2.png" alt="" width="69" height="20" />Cerca nella collezione "Tavole parietali"</a></h4>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body"><script src="http://code.jquery.com/jquery.min.js"></script>
<button class="button">Fai una ricerca</button>
<button class="button">Refresh</button>
<select id="pagine">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<input id="ricercaoggetto" class="ricercaoggetto" name="ricercaoggetto" type="text" />
<script>
function cercaincollezione() {
var oggetto= $('#ricercaoggetto').val();	
var pagine= $('#pagine').val();	
$(document).ready(function(){
var url = "https://imageserver.cab.unipd.it:8983/solr/phaidradev/select?&fq=ispartof:%22o:62504%22&q="+oggetto+"&rows="+pagine+"&wt=json";
$.getJSON(url, function(data){
console.log(data.response.docs);
$.each(data.response.docs, function(a,campo){
console.log(campo.pid);
console.log(campo.dc_title);
console.log(campo.dc_description);
$("#prova").append(campo.dc_title+"<br></br>");
$("#prova").append(campo.dc_description+"<br></br>");
$("#prova").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Asset/getThumbnail"></img><br></br>'); 
});
});
});	  	  
}
 function remove2(){
$(document).ready(function(){
$("button").click(function(){
$("#prova").empty();
});
});
};  
</script>
<div id="prova"></div>
</div>
</div>
</div>
</div>
</div>