<input type='text' class="ricercamuseo" name='ricercamuseo' id='ricercamuseo'/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>
<button  onClick='remove()' class="button">Refresh</button>
<div id="dcx"></div>
<script>
function ricercainmuseo() {
var testo2= $('#ricercamuseo').val();
$(document).ready(function(){
var urlx = "https://phaidra.cab.unipd.it/api/search/owner/ortobotanico?q="+testo2+""
$.getJSON(urlx, function(responsex){
console.log(responsex.objects);
$.each(responsex.objects, function(ax,campox){
console.log("<i>"+campox['fgs.contentModel']+"</i>");
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid)
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datal) {
console.log(datal.index.dc_title);										 										 
}
});								     
});
}
});
var myDatax = '';		         
myDatax+=campox['PID']+"<br>";
myDatax+='<img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail"><br>';
myDatax+=campox['uw.general.description']+"<br>";

$("#dcx").append(myDatax);
});
});
});
}
function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#dcx").empty();
});
});
}; 
</script>