<h2>Approfondimenti:</h2>
<div id="accordion" class="panel-group">
<div class="panel panel-default">
<div id="headingOne" class="panel-heading">
<h4 class="panel-title"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"><img src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" class="alignnone size-full wp-image-667" />Descrizioni dell'orto Botanico nel tempo</a></h4>
<div id="collapseOne" class="panel-collapse collapse">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
var url = "https://phaidra.cab.unipd.it/api/collection/o:75413/members";
$.getJSON(url, function(response){
console.log(response.metadata.members);
$.each(response.metadata.members, function(a,campo2){	  
var url2 = "https://phaidra.cab.unipd.it/api/object/"+campo2.pid+"/index";
$.getJSON(url2, function(response2){
$.each(response2, function(a,campo){
$(".dc").append(campo.pid);
$(".dc").append("<br>");
$(".dc").append(campo.dc_title);
$(".dc").append("<br>");
$(".dc").append(campo.dc_description);
});
$(".dc").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo2.pid+'/methods/bdef:Asset/getThumbnail">');
$(".dc").append("<br>");
$(".dc").append("<br>");
});
});
});
});
</script>
<div class="dc"></div>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="headingTwo" class="panel-heading">
<h4 class="panel-title"><a class="collapsed" href="#collapseTwo" data-toggle="collapse" data-parent="#accordion">
<img src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" class="alignnone size-full wp-image-667" />Cerca nel museo</a>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">
<input type='text' class="ricercamuseo" name='ricercamuseo' id='ricercamuseo'/>
<button  onClick='ricercainmuseo(); return false;' class="button">Ricerca</button>
<button  onClick='remove()' class="button">Refresh</button>
<div class="dcx"></div>
<script>
function ricercainmuseo() {
var testo2= $('#ricercamuseo').val();
$(document).ready(function(){
var urlx = "https://phaidra.cab.unipd.it/api/search/owner/bibfa?q="+testo2+""
$.getJSON(urlx, function(responsex){
console.log(responsex.objects);
$.each(responsex.objects, function(ax,campox){
console.log("<i>"+campox['fgs.contentModel']+"</i>");
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campox["PID"]+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid)
$("#dcx").append(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datal) {
console.log(datal.index.dc_title);
$(".dcx").append(datal.index.dc_title+'<br></br>');	
$(".dcx").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+datab.pid+'/methods/bdef:Asset/getThumbnail">');										 										 
}
});								     
});
}
});
var myDatax = '';		         
myDatax+=campox['PID'];
$(".dcx").append("<br></br>");
myDatax+='<img src="https://fc.cab.unipd.it/fedora/objects/'+campox['PID']+'/methods/bdef:Asset/getThumbnail">';
$(".dcx").append("<br></br>");
myDatax+='<i>'+campox['uw.general.description']+'</i>'
$(".dcx").append("<br>");
$(".dcx").append(myDatax);
});
});
});
}
function remove(){
$(document).ready(function(){
$("button").click(function(){
$(".dcx").empty();
});
});
}; 
</script>
</div>
</div>
</div>












</div>
</div>