<h2>Cos'è</h2>
Il Museo delle Macchine “Enrico Bernardi” si trova all'interno del Dipartimento di Ingegneria Meccanica dell'Università di Padova. Di eccezionale rilevanza storico-culturale, i reperti conservati nel Museo descrivono l’evoluzione dei motori a combustione interna a partire dalla seconda metà dell’Ottocento e il loro ruolo nell’impetuoso sviluppo industriale a cavallo dei secoli.

<h2>Gli imperdibili</h2>

<div class="row">

<div class="col-sm-6 col-md-4">
<img src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/0K1A5164-e1501062856744.jpg" /><it><p>Bicicletta con carrello di motore monoruota</p></it></div>

<div class="col-sm-6 col-md-4">
<img src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/0K1A5219-e1501062796242.jpg" alt="" width="100%" height="140" class="alignnone size-full wp-image-399" /><p>Autovettura – triciclo Bernardi (1894)</p></div>

<div class="col-sm-6 col-md-4">
<img src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/0K1A5206-e1501062811574.jpg" /><p>Motore monocilindrico a benzina</p></div>
</div>

<h2>Cosa posso fare</h2>

Osservare i diversi esemplari di motori a combustione interna e di costruzioni motoristicheeseguite originalmente da Bernardi nella seconda metà dell'Ottocento, oltre a strumenti e modelli di apparecchiature da lui stesso ideate.

Scoprire il loro funzionamento e ripercorrerne la storia attraverso gli appunti e i materiali d’archivio, resi disponibili in una serie dipostazioni multimediali touch.

Partecipare ad una visita guidata, con l’opportunità di vedere la messa in funzione della vettura a tre ruote dell’Ottocento!

Fotografare e condividere la mia esperienza
<h2>Approfondimenti:</h2>
<div id="accordion" class="panel-group">
<div class="panel panel-default">
<div id="headingOne" class="panel-heading">
<h4 class="panel-title"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion"><img src="http://muvere.flywheelsites.com/wp-content/uploads/2017/07/phaidra-logo-small.png" alt="" width="69" height="20" class="alignnone size-full wp-image-667" />L'archivio di Enrico Bernardi</a></h4>
<div id="collapseOne" class="panel-collapse collapse">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
var url = "https://phaidra.cab.unipd.it/api/collection/o:56179/members";
$.getJSON(url, function(response){
console.log(response.metadata.members);
$.each(response.metadata.members, function(a,campo2){	  
var url2 = "https://phaidra.cab.unipd.it/api/object/"+campo2.pid+"/index";
$.getJSON(url2, function(response2){
$.each(response2, function(a,campo){
$(".dc").append(campo.pid);
$(".dc").append("<br>");
$(".dc").append(campo.dc_title);
$(".dc").append("<br>");
$(".dc").append(campo.dc_description);
});
$(".dc").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo2.pid+'/methods/bdef:Asset/getThumbnail">');
$(".dc").append("<br>");
$(".dc").append("<br>");
});
});
});
});
</script>
<div class="dc"></div>
</div>
</div>
</div>




</div>