<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='cercaeuropeana(); return false;' class="button">Fai una ricerca in europeana</button>
<select id="pagineeuro">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<input type='text' class="ricercaoggettoeuro" name='ricercaoggettoeuro' id='ricercaoggettoeuro'/>
<button  onClick='remove()' class="button">Refresh</button>
<script>
function cercaeuropeana() {
var oggettoeuro= $('#ricercaoggettoeuro').val();	
var pagineeuro= $('#pagineeuro').val();	
$(document).ready(function(){
var url = "https://www.europeana.eu/api/v2/search.json?wskey=QRhjXUYFA&query=%22"+oggettoeuro+"%22&thumbnail=true&rows="+pagineeuro+"";
$.getJSON(url, function(data){
console.log(data.items);

$.each(data.items, function(b,campob){
console.log(campob.dcDescription);
console.log(campob.edmPreview);
$("#euro").append(campob.dcDescription+"<br></br>");

$("#euro").append('<img src='+campob.edmPreview+'></img><br></br>'); 
});
});
});
}  
function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dcx").empty();
    });
	});
	};

</script>


<div  id="euro"></div>