<script src="http://code.jquery.com/jquery.min.js"></script>
<input type='text' class="codice3" name='codice3' id='codice3'/>
<select id="limite3">
<option value="10">1</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<button  onClick='mostra3(); return false;' class="button">Fai una ricerca</button>	
<script>
function mostra3() {
	 var testo3= $('#codice3').val();
	
	 $(document).ready(function(){

	 var url3 = "https://www.europeana.eu/api/v2/search.json?wskey=QRhjXUYFA&query=%22"+testo3+"%22&thumbnail=true&rows="+limite3+"";
	 $.getJSON(url3, function(res3){
	 console.log(res3.items);
     $.each(res3.items, function(b3,field3){
		 
	 var myData3 = '';
			console.log(field3);
			myData3+=field3.dcDescription;
            $("#prova3").append(myData3);
            $("#prova3").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+field3.edmPreview+'/methods/bdef:Asset/getThumbnail"></img><br></br>');


		
	});
  
  

});
});
}


</script>
 <div  id="prova3"></div>