[credform class='cred-form cred-keep-original']

[cred_field field='form_messages' value='' class='alert alert-warning']


<div><h2>Sezione inserimento manuale<h2></div>


	<div class="form-group">
		<label>Reperto Name</label>
		[cred_field field='post_title' post='reperto' value='' urlparam='' class='form-control' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Featured Image</label>
		[cred_field field='_featured_image' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>ID oggetto</label>
		[cred_field field='id-oggetto' post='reperto' value='' urlparam='' class='form-control' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Descrizione</label>
		[cred_field field='descrizione' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Foto</label>
		[cred_field field='foto' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Video</label>
		[cred_field field='video' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Classificazione reperti</label>
		[cred_field field='classificazione-reperto' display='checkbox' output='bootstrap']
		[cred_field field='classificazione-reperto_add_new' taxonomy='classificazione-reperto' type='add_new']
	</div>

	<div class="form-group">
		<label>museo Parent</label>
		[cred_field field='_wpcf_belongs_museo_id' value='' class='form-control' output='bootstrap']
	</div>

<hr>

<div><h2>Service museali<h2>
  
  
  

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<style>
.dropbtn {
    
   background-color: #ffd600;
   
    position:right;
    padding: 16px;
    font-size: 16px;
    border: none;
	position: relative;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffd600;
}

.dropdown {
    width: 100%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    
    background-color:#1f2c39 ;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0);
    z-index: 1;
}

.dropdown-content a {

    color: white;
    padding: 16px 16px;
	font-size: 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.sottocollezione{ 
    color: red;
}







	  
	</style>  




<body>






<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Scegli la collezione</button>
<div id="myDropdown" class="dropdown-content">

<a onclick="loadCollectionById('62504');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/tavole-parietali-del-museo-botanico-small.jpg" height="42" width="42"></img>Tavole parietali del Museo Botanico</a>
<a onclick="loadCollectionById('74177');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/musei-settecento-a-padova-small.jpg" height="42" width="42"></img>Antonio Vallisneri e le Antichità</a>










 </div>
</div>





<select id="selMembri" name="membri"></select>

<div id="dc"></div>


</div>




<script>




  

 

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
		
	
		
		
		
      }
    }
  }
}




function loadCollectionById(testo) {
	$(document).ready(function(){
	

  
	    $.get("https://phaidra.cab.unipd.it/api/collection/o:"+testo+"/members", function(data, status){
        
		console.log(data.metadata.members);
		
		
	
		
			var obj = data;
			var members = obj.metadata.members;
			var listaForSelect =[];
			for (var i =0; i < members.length; i++) {

				listaForSelect.push(members[i].pid);
			}
					
			$('#selMembri')
				.find('option')
				.remove()
				.end();
				
			$('#selMembri').append($('<option>', { 
					value: '',
					text : 'Seleziona....'
				}));	
				
			$.each(listaForSelect, function (i, item) {
			
			
	 
				$('#selMembri').append($('<option>', { 
				  
					value: item,
					text : item
				}));
						
			});
		
		
		

	    
		});



});



$(document).ready(function(){
	$('#selMembri').on('change', function()
	{

		 var selectedMember = $('#selMembri').val();
		 $("#dc").empty();
		 
		 collectionItems(selectedMember);
		 

	});
	
	
 });
 
 
 
 function collectionItems(selectedMember) {
 
 		 if (!selectedMember || selectedMember==='') return;
		 			

					
		
					
					
								
				
		var url ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(url, function(response){	
			
			var url2 ="https://phaidra.cab.unipd.it/api/object/"+selectedMember+"/dc";
			alert("scegli...)")
			
			$.getJSON(url2, function(response2){
			    console.log(response2.metadata.dc);
                var myData = '';			   
			   $.each(response2.metadata.dc, function(a,campo){
		  console.log(campo);
          myData+=campo.xmlname + ": " + campo.ui_value + "<div></div>";
		
		  
		  
	
          $("[name='wpcf-phaidra']").val(myData);
		  
         });
			  $("#dc").append(myData); 		
 $("#dc").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+selectedMember+'/methods/bdef:Asset/getThumbnail"></img></div>'); 
  
$("[name='wpcf-phaidraimage']").val('<img src="https://fc.cab.unipd.it/fedora/objects/'+selectedMember+'/methods/bdef:Asset/getThumbnail"></img>');

			  
});  				 
});

}; 
};
</script>  

<input type='text' class="codice2" name='codice2' id='codice2'/>
<button  onClick='mostra2(); return false;' class="button">Fai una ricerca</button>	
<button  onClick='remove()' class="button">Reset</button>

 <script>
function mostra2() {
	var testo2= $('#codice2').val();
	
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo2+"";
	  $.getJSON(url, function(response){
		console.log(response.objects);
		
	
		$.each(response.objects, function(a,campo){
		 console.log(campo);
		 var myId = campo.PID.substring(2);		  
		 var myPid=campo.PID;
		 $.getJSON("https://phaidra.cab.unipd.it/api/object/"+myPid+"/index", function(res2){	
			var field = res2.index;
			var myData2 = '';
			console.log(field);
			myData2+=field.dc_title[0]+field.dc_description[0];
			$("[name='wpcf-phaidra']").val(myData2);
			
$("#prova").append(myData2); 	
$("#prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+myPid+'/methods/bdef:Asset/getThumbnail"></img></div>'); 	
	

$("[name='wpcf-phaidraimage']").val('<img src="https://fc.cab.unipd.it/fedora/objects/'+myPid+'/methods/bdef:Asset/getThumbnail"></img>');

			 		
		
	  });
	  
	  
	  
	  
	  
	});
});


});

}

function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dc").empty();
    });
	});
	};



</script>

<div  id="prova"></div>
 

<div class="form-group">
<label>Trascina il testo dopo averlo selezionato:</label>
		[cred_field field='phaidra' post='reperto' value='' urlparam='' output='bootstrap']
	</div>





	<div class="form-group">
<label>Trascina l'immagine:</label>
		[cred_field field='phaidraimage' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

[cred_field field='form_submit' value='Submit' urlparam='' class='btn btn-primary btn-lg' output='bootstrap']

[/credform]