<script src="http://code.jquery.com/jquery.min.js"></script>

<script>
var urlxx = "https://phaidra.cab.unipd.it/api/collection/o:74197/members";
$.getJSON(urlxx, function(risposta){
console.log(risposta.index);			
$.each(risposta.metadata.members, function(a,campo){
console.log(campo.pid);			 
$("#provaxx").append(campo.pid+"<br></br>");
$("#provaxx").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Asset/getThumbnail"></img></div>');
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+campo.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datapiatta) {
console.log(datapiatta.index);
$("#provaxx").append(datapiatta.index.dc_title+"<br></br>"); 
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campo.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
$("#provaxx").append(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacc) {
console.log(datacc.index);
$("#provaxx").append(datacc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione:"+datacc.index.ispartof+"<br></br>");
$("#provaxx").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Asset/getThumbnail"></img></div>'); 
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datab.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datac) {
$.each(datac.metadata.members, function(d, datad){
console.log(datad.pid);
$("#provaxx").append(datad.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datad.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccc) {
console.log(dataccc.index);
$("#provaxx").append(dataccc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione:"+dataccc.index.ispartof+"<br></br>");
$("#provaxx").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Asset/getThumbnail"></img></div>');
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datad.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datae) {
$.each(datae.metadata.members, function(e, datae){
console.log(datae.pid);
$("#provaxx").append(datae.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datae.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacccc) {
console.log(datacccc.index);
$("#provaxx").append(datacccc.index.dc_title+"<br></br>");
$("#provaxx").append(datacccc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione"+datacccc.index.ispartof+"<br></br>");
}
});
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datae.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (dataf) {
$.each(dataf.metadata.members, function(f, dataf){
console.log(dataf.pid);
$("#provaxx").append(dataf.pid);
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datag.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datag) {
$.each(datag.metadata.members, function(h, datah){
console.log(datah.pid);
$("#provaxx").append(datah.pid);
});
}
});
});
}
});
});
}
});			
});
});
</script>
 <div  id="provaxx"></div>