<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='motore1(); return false;' class="button">Ricerca in phaidra</button>
<button  onClick='motore2(); return false;' class="button">Ricerca in europeana</button>
<button  onClick='motore3(); return false;' class="button">Ricerca in muvere</button>
<button  onClick='remove()' class="button">Ricarica</button>
<select id="limite">
<option value="10">10 risultati</option>
<option value="50">50 risultati</option>
<option value="100">100 risultati</option>
<option value="200">200 risultati </option>
<option value="500">500 risultati </option>
<option value="600">600 risultati</option>
</select>
<input type='text' class="testo" name='testo' id='testo'/>
<script>
function motore1() {

	var testo1= $('#testo').val();
	var limite1= $('#limite').val();
	
	
	$(document).ready(function(){
	    var urlxx = "https://phaidra.cab.unipd.it/api/search/?q="+testo1+"&limit="+limite1+"&fields=uw.general.description&fields=PID&fields=fgs.contentModel&fields=uw.general.title";
     	$.getJSON(urlxx, function(risposta){
	    console.log(risposta.objects);			
		$.each(risposta.objects, function(a,campo){
		 console.log(campo.PID);	
		 
		//$("#prova").append(campo.PID+"<br></br>");
		//$("#prova").append(campo['uw.general.title']+"<br></br>");
		$("#prova").append(campo['uw.general.description']+"<br></br>");
		//$("#prova").append("Tipo di oggetto:"+campo['fgs.contentModel']+"<br></br>");
		$("#prova").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Asset/getThumbnail"></img><br></br>');
		$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campo.PID+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
//$("#prova").append(datab.pid);



$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacc) {

console.log(datacc.index);
$("#prova").append(datacc.index.dc_title+"(Fonte:phaidra)<br></br>");
$("#prova").append(datacc.index.dc_description+"(Fonte:phaidra)<br></br>");
//$("#prova").append("Collezione:"+datacc.index.ispartof+"<br></br>");
$("#prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Asset/getThumbnail"></img></div>'); 

}
});





$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datab.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datac) {
$.each(datac.metadata.members, function(d, datad){
console.log(datad.pid);
//$("#prova").append(datad.pid);






$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datad.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccc) {

console.log(dataccc.index);
$("#prova").append(dataccc.index.dc_title+"(Fonte:phaidra)<br></br>");
$("#prova").append(dataccc.index.dc_description+"(Fonte:phaidra)<br></br>");
//$("#prova").append("Collezione:"+dataccc.index.ispartof+"<br></br>");
$("#prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Asset/getThumbnail"></img></div>');

}
});



           

$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datad.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datae) {
$.each(datae.metadata.members, function(e, datae){
console.log(datae.pid);
//$("#prova").append(datae.pid);



$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datae.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacccc) {

console.log(datacccc.index);
$("#prova").append(datacccc.index.dc_title+"(Fonte:phaidra)<br></br>");
$("#prova").append(datacccc.index.dc_description+"(Fonte:phaidra)<br></br>");
//$("#prova").append("Collezione"+datacccc.index.ispartof+"<br></br>");

}
});







});
}
});



$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datae.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (dataf) {
$.each(dataf.metadata.members, function(f, dataf){
console.log(dataf.pid);
//$("#prova").append(dataf.pid);






});
}
});


$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datag.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datag) {
$.each(datag.metadata.members, function(h, datah){
console.log(datah.pid);
//$("#prova").append(datah.pid);






});
}
});












});
}
});


});
}
});		

	
});
});
});

	
}	
	
	
	
function motore2(){	


 var testo2= $('#testo').val();
 var limite2= $('#limite').val();

$(document).ready(function(){
var url = "https://www.europeana.eu/api/v2/search.json?wskey=QRhjXUYFA&query=%22"+testo2+"%22&thumbnail=true&rows="+limite2+"";
$.getJSON(url, function(data){
console.log(data.items);

$.each(data.items, function(b,campob){
console.log(campob.dcDescription);
console.log(campob.edmPreview);
$("#prova").append(campob.dcDescription+"(Fonte:europeana)<br></br>");
$("#prova").append('<img src='+campob.edmPreview+'></img><br></br>'); 

});
});
});

}

 function motore3(){	 
    
	var testo3= $('#testo').val();
 
 
            $.ajax({
                url: 'https://api.mlab.com/api/1/databases/databaseintegrato/collections/db1?q={%22$text%22:{%22$search%22:%22'+testo3+'%22}}&apiKey=L6qWg_ywFMmEoU3k-rnZpAlKwIvhA1E1',
                type: 'get',
                dataType: 'json',
                jsonp: 'json'                                                                                   
            })
            .done(function(data) {
			
			
			
			
			
			
			d=JSON.stringify(data);
			$.each(data, function(a,lista){
		    
			$("#prova").append("<hr></hr>");
			//$("#prova").append("<br></br>Identificativo:"+lista.id);
			//$("#prova").append("<br></br>Piattaforma:"+lista.platform);
			$("#prova").append("<br></br>"+lista.index+"(Fonte:muvere)");
			
	       	$("#prova").append("<br></br><img src="+lista.foto+"></img>");
			
			
			
			
			});
			
					
			
			
				
		
			});			
}


function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#prova").empty();
    });
	});
	};







			
</script>
<div  id="prova"></div>
