<script src="http://code.jquery.com/jquery.min.js"></script>
<input type='text' class="ricercaoggetto" name='ricercaoggetto' id='ricercaoggetto'/>
<select id="limite">
<option value="10">10 oggetti</option>
<option value="50">50 oggetti</option>
<option value="100">100 oggetti</option>
<option value="200">200 oggetti</option>
<option value="500">500 oggetti</option>
<option value="600">600 oggetti</option>
</select>
<button  onClick='cercaoggetto(); return false;' class="button">Fai una ricerca</button>
<button  onClick='remove(); return false;' class="button">Ricarica</button>	
<script>
function cercaoggetto() {
var oggetto= $('#ricercaoggetto').val();	
var limite= $('#limite').val();
$(document).ready(function(){
var urlxx = "https://phaidra.cab.unipd.it/api/search/owner/bibfa?q="+oggetto+"&limit="+limite+"&fields=uw.general.description&fields=PID&fields=fgs.contentModel&fields=uw.general.title";
$.getJSON(urlxx, function(risposta){
console.log(risposta.objects);			
$.each(risposta.objects, function(a,campo){
console.log(campo.PID);	
$("#provaxx").append(campo.PID+"<br></br>");
$("#provaxx").append(campo['uw.general.title']+"<br></br>");
$("#provaxx").append(campo['uw.general.description']+"<br></br>");
$("#provaxx").append("Tipo di oggetto:"+campo['fgs.contentModel']+"<br></br>");
$("#provaxx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+campo.PID+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+campo.PID+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (data) {
$.each(data.metadata.members, function(b, datab){
console.log(datab.pid);
$("#provaxx").append(datab.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datab.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacc) {
console.log(datacc.index);
$("#provaxx").append(datacc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione:"+datacc.index.ispartof+"<br></br>");
$("#provaxx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+datacc.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datab.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datac) {
$.each(datac.metadata.members, function(d, datad){
console.log(datad.pid);
$("#provaxx").append(datad.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datad.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (dataccc) {
console.log(dataccc.index);
$("#provaxx").append(dataccc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione:"+dataccc.index.ispartof+"<br></br>");
$("#provaxx").append('<a href="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Content/get"><img src="https://fc.cab.unipd.it/fedora/objects/'+dataccc.index.pid+'/methods/bdef:Asset/getThumbnail"></a><br></br>');

}
}); 
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datad.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datae) {
$.each(datae.metadata.members, function(e, datae){
console.log(datae.pid);
$("#provaxx").append(datae.pid);
$.ajax({
url: "https://phaidra.cab.unipd.it/api/object/"+datae.pid+"/index",
type: "GET",
dataType: "json",
async: false,		
success: function (datacccc) {
console.log(datacccc.index);
$("#provaxx").append(datacccc.index.dc_title+"<br></br>");
$("#provaxx").append(datacccc.index.dc_title+"<br></br>");
$("#provaxx").append("Collezione"+datacccc.index.ispartof+"<br></br>");
}
});
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datae.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (dataf) {
$.each(dataf.metadata.members, function(f, dataf){
console.log(dataf.pid);
$("#provaxx").append(dataf.pid);
});
}
});
$.ajax({
url: "https://phaidra.cab.unipd.it/api/collection/"+datag.pid+"/members",
type: "GET",
dataType: "json",
async: false,		
success: function (datag) {
$.each(datag.metadata.members, function(h, datah){
console.log(datah.pid);
$("#provaxx").append(datah.pid);
});
}
});
});
}
});
});
}
});		
});
});
});
}
function remove(){
$(document).ready(function(){
$("button").click(function(){
$("#provaxx").empty();
});
});
};
</script>
<div  id="provaxx"></div>