[credform class='cred-form cred-keep-original']

[cred_field field='form_messages' value='' class='alert alert-warning']


<div><h3>1.Sezione inserimento manuale</h3></div>

	<div class="form-group">
		<label>Reperto Name</label>
		[cred_field field='post_title' post='reperto' value='' urlparam='' class='form-control' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Featured Image</label>
		[cred_field field='_featured_image' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>ID oggetto</label>
		[cred_field field='id-oggetto' post='reperto' value='' urlparam='' class='form-control' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Descrizione</label>
		[cred_field field='descrizione' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Foto</label>
		[cred_field field='foto' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Video</label>
		[cred_field field='video' post='reperto' value='' urlparam='' output='bootstrap']
	</div>

	<div class="form-group">
		<label>Classificazione reperti</label>
		[cred_field field='classificazione-reperto' display='checkbox' output='bootstrap']
		[cred_field field='classificazione-reperto_add_new' taxonomy='classificazione-reperto' type='add_new']
	</div>

	<div class="form-group">
		<label>Museo di appartenza</label>
		[cred_field field='_wpcf_belongs_museo_id' value='' class='form-control' output='bootstrap']
	</div>

<hr>

<div><h3>2.Sezione Service (musei o collezioni digitali)</h3>
  
  <h2>Phaidra</h2>
  

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<style>
.dropbtn {
    
   background-color: #ffd600;
   
    position:right;
    padding: 16px;
    font-size: 16px;
    border: none;
	position: relative;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ffd600;
}

.dropdown {
    width: 100%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    
    background-color:#1f2c39 ;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0);
    z-index: 1;
}

.dropdown-content a {

    color: white;
    padding: 16px 16px;
	font-size: 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}


.sottocollezione{ 
    color: red;
}







	  
	</style>  




<body>






<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Scegli la collezione di phaidra per l'anteprima</button>
<div id="myDropdown" class="dropdown-content">

<a onclick="loadCollectionById('62504');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/tavole-parietali-del-museo-botanico-small.jpg" height="42" width="42"></img>Tavole parietali del Museo Botanico</a>
<a onclick="loadCollectionById('74177');" href="#"><img src="https://phaidra.cab.unipd.it/static/padova/img/collections/featured/musei-settecento-a-padova-small.jpg" height="42" width="42"></img>Antonio Vallisneri e le Antichità</a>










 </div>
</div>





<select id="selMembri" name="membri"></select>

<div id="dc"></div>


</div>




<script>




  

 

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
		
	
		
		
		
      }
    }
  }
}




function loadCollectionById(testo) {
	$(document).ready(function(){
	

  
	    $.get("https://phaidra.cab.unipd.it/api/collection/o:"+testo+"/members", function(data, status){
        
		console.log(data.metadata.members);
		
		
	
		
			var obj = data;
			var members = obj.metadata.members;
			var listaForSelect =[];
			for (var i =0; i < members.length; i++) {

				listaForSelect.push(members[i].pid);
			}
					
			$('#selMembri')
				.find('option')
				.remove()
				.end();
				
			$('#selMembri').append($('<option>', { 
					value: '',
					text : 'Seleziona....'
				}));	
				
			$.each(listaForSelect, function (i, item) {
			
			
	 
				$('#selMembri').append($('<option>', { 
				  
					value: item,
					text : item
				}));
						
			});
		
		
		

	    
		});



});



$(document).ready(function(){
	$('#selMembri').on('change', function()
	{

		 var selectedMember = $('#selMembri').val();
		 $("#dc").empty();
		 
		 collectionItems(selectedMember);
		 

	});
	
	
 });
 
 
 
 function collectionItems(selectedMember) {
 
 		 if (!selectedMember || selectedMember==='') return;
		 			

					
		
					
					
								
				
		var url ="https://phaidra.cab.unipd.it/api/collection/"+selectedMember+"/members";		
		
		
		
					
			$.getJSON(url, function(response){	
			
			var url2 ="https://phaidra.cab.unipd.it/api/object/"+selectedMember+"/dc";
			alert("scegli...)")
			
			$.getJSON(url2, function(response2){
			    console.log(response2.metadata.dc);
                var myData = '';			   
			   $.each(response2.metadata.dc, function(a,campo){
		  console.log(campo);
          myData+=campo.xmlname + ": " + campo.ui_value + "<div></div>";
		
		  
		  
	
          $("[name='wpcf-phaidra']").val(myData);
		  
         });
			  $("#dc").append(myData); 		
 $("#dc").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+selectedMember+'/methods/bdef:Asset/getThumbnail"></img></div>'); 
  
$("[name='wpcf-phaidraimage']").val('<img src="https://fc.cab.unipd.it/fedora/objects/'+selectedMember+'/methods/bdef:Asset/getThumbnail"></img>');

			  
});  				 
});

}; 
};
</script>  


<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='remove2()' class="button">Ricarica</button>
<button  onClick='mostra2(); return false;' class="button">Fai una ricerca in phaidra</button>
<select id="limite">
<option value="10">10 risultati</option>
<option value="50">50 risultati</option>
<option value="100">100 risultati</option>
<option value="200">200 risultati </option>
<option value="500">500 risultati </option>
<option value="600">600 risultati</option>
</select>
<input type='text' class="codice2" name='codice2' id='codice2'/>


<script>
function mostra2() {
	var testo2= $('#codice2').val();
	var limite= $('#limite').val();
	$(document).ready(function(){
	  var url = "https://phaidra.cab.unipd.it/api/search/?q="+testo2+"&limit="+limite+"&fields=uw.general.description&fields=PID&fields=fgs.contentModel&fields=uw.general.title";
	  $.getJSON(url, function(res2){
		console.log(res2.objects);
$.each(res2.objects, function(b,field){
		 
	var myData2 = '';
			console.log(field);
			myData2+=field.PID+field['uw.general.title']+field['uw.general.description'];
$("#prova").append(myData2);
  
  
  
  
  
  
  
   
 	
$("#prova").append('<div><img src="https://fc.cab.unipd.it/fedora/objects/'+field.PID+'/methods/bdef:Asset/getThumbnail"></img></div>'); 	
	

$("[name='wpcf-phaidraimage']").val('<img src="https://fc.cab.unipd.it/fedora/objects/'+field.PID+'/methods/bdef:Asset/getThumbnail"></img>');
$("[name='wpcf-phaidra']").val(myData2);
			 		
		
});
	  
	  
	  
	  	  
});
});




}






function remove(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dc").empty();
    });
	});
	};



</script>

<div  id="prova"></div>







 

<div class="form-group">
<label>Trascina il testo dopo averlo selezionato:</label>
		[cred_field field='phaidra' post='reperto' value='' urlparam='' output='bootstrap']
	</div>





	<div class="form-group">
<label>Trascina l'immagine:</label>
		[cred_field field='phaidraimage' post='reperto' value='' urlparam='' output='bootstrap']
	</div>




<h2>Europeana</h2>
<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='remove2()' class="button">Refresh</button>
<button  onClick='cercaeuropeana(); return false;' class="button">Fai una ricerca in europeana</button>
<select id="pagineeuro">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<input type='text' class="ricercaoggettoeuro" name='ricercaoggettoeuro' id='ricercaoggettoeuro'/>

<script>
function cercaeuropeana() {
var oggettoeuro= $('#ricercaoggettoeuro').val();	
var pagineeuro= $('#pagineeuro').val();	
$(document).ready(function(){
var url = "https://www.europeana.eu/api/v2/search.json?wskey=QRhjXUYFA&query=%22"+oggettoeuro+"%22&thumbnail=true&rows="+pagineeuro+"";
$.getJSON(url, function(data){
console.log(data.items);

$.each(data.items, function(b,campob){
console.log(campob.dcDescription);
console.log(campob.edmPreview);
  $("#euro").append(campob.dcDescription+"<br></br>");

$("#euro").append('<img src='+campob.edmPreview+'></img><br></br>'); 

$("[name='wpcf-europeanaimage']").val('<img src="+campob.edmPreview+"></img>');
$("[name='wpcf-europeana']").val(campob.dcDescription);





});
});
});
}  
function remove2(){
    $(document).ready(function(){
    $("button").click(function(){
    $("#dcx").empty();
    });
	});
	};







</script>


<div  id="euro"></div>









<div class="form-group">
<label>Trascina il testo dopo averlo selezionato:</label>
		[cred_field field='europeana' post='reperto' value='' urlparam='' output='bootstrap']
	</div>





	<div class="form-group">
<label>Trascina l'immagine:</label>
		[cred_field field='europeanaimage' post='reperto' value='' urlparam='' output='bootstrap']
	</div>


















[cred_field field='form_submit' value='Submit' urlparam='' class='btn btn-primary btn-lg' output='bootstrap']

[/credform]

