<script src="http://code.jquery.com/jquery.min.js"></script>
<button  onClick='cercaincollezione(); return false;' class="button">Fai una ricerca in phaidra</button>
<select id="pagine">
<option value="10">10</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="200">200</option>
<option value="500">500</option>
<option value="600">600</option>
</select>
<input type='text' class="ricercaoggetto" name='ricercaoggetto' id='ricercaoggetto'/>
<script>
function cercaincollezione() {
var oggetto= $('#ricercaoggetto').val();	
var pagine= $('#pagine').val();	
$(document).ready(function(){
var url = "https://imageserver.cab.unipd.it:8983/solr/phaidradev/select?&fq=ispartof:%22o:62504%22&q="+oggetto+"&rows="+pagine+"&wt=json";
$.getJSON(url, function(data){
console.log(data.response.docs);
$.each(data.response.docs, function(a,campo){
console.log(campo.pid);
console.log(campo.dc_title);
console.log(campo.dc_description);
$("#prova").append(campo.dc_title+"<br></br>");
$("#prova").append(campo.dc_description+"<br></br>");
$("#prova").append('<img src="https://fc.cab.unipd.it/fedora/objects/'+campo.pid+'/methods/bdef:Asset/getThumbnail"></img><br></br>'); 
});
});
});	  	  
}  
</script>
<div  id="prova"></div>